* {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
      padding: 0 2rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  main {
    min-height: 100vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  nav a {
    font-weight: bold;
    margin: 0 0.5rem;
    text-decoration: underline;
  }